<div class=" template-screen">

    <!-- TOP SECTION -->
    <header class="top-section">
        <img [src]="data.profilePicture" class="avatar" />

        <div class="info">
            <h1>{{ data.name }}</h1>
            <h3>{{ data.title }}</h3>

            @if(data.email || data.phone || data.address){
            <div class="tags">
                @if(data.email){
                <span class="small word-wrap">{{data.email}}</span>
                }
                @if(data.phone){
                <span class="small word-wrap">{{data.phone}}</span>
                }
                @if(data.address){
                <span class="small word-wrap">{{data.address}}</span>
                }
            </div>
            }

            <div class="links text-black">
                @if(data.linkedin){
                <a class="small word-wrap" [href]="data.linkedin">{{data.linkedin}}</a> |
                }
                @if(data.github){
                <a class="small word-wrap" [href]="data.github">{{data.github}}</a> |
                }

                @if(data.website){
                <a class="small word-wrap" [href]="data.website">{{data.website}}</a>
                }
            </div>
        </div>
    </header>


    <!-- SUMMARY -->
    @if(data.summary){
    <section>
        <h2>Summary</h2>
        <p>{{ data.summary }}</p>
    </section>
    }

    <!-- EXPERIENCE -->
    @if(data?.experience?.length){
    <section>
        <h2>Experience</h2>

        @for (exp of data.experience; track $index) {
        <div class="card">
            <h3>{{ exp.role }}</h3>
            <span class="year">{{ exp.year }}</span>
            <p class="company">{{ exp.company }}</p>
            @if(exp?.responsibilities?.length){
            <h6>Responsibilities</h6>
            <ul>
                @for(r of exp.responsibilities; track r){
                <li>{{r}}</li>
                }
            </ul>
            }
            @if(exp?.achievements?.length){
            <h6>Achievements</h6>
            <ul>
                @for(a of exp.achievements; track a){
                <li>{{a}}</li>
                }
            </ul>
            }
        </div>
        }
    </section>
    }
    @if(data?.skills?.length){
    <section>
        <h2>Skills</h2>
        <div class="card">
            {{ getSkillNames() }}
        </div>
    </section>
    }
    <!-- EDUCATION -->
    @if(data?.education?.length){
    <section>
        <h2>Education</h2>
        @for (edu of data.education; track $index) {
        <div class="card">
            <h3>{{ edu.degree }}</h3>
            <span class="year">{{ edu.year }}</span>
            <p class="company">{{ edu.university }} • GPA {{ edu.gpa }}</p>

            <ul>
                @for (p of edu.projects; track $index) {
                <li>{{ p }}</li>
                }
            </ul>
        </div>
        }
    </section>
    }

    <!-- CERTIFICATIONS -->
    @if(data.certifications?.length){
    <section>
        <h2>Certifications</h2>
        <div class="card">
            <ul>
                @for (c of data.certifications; track $index) {
                <li>{{ c.name }} ({{ c.year }}) – {{ c.issuer }}</li>
                }
            </ul>
        </div>

    </section>
    }


    <!-- LANGUAGES -->
    @if(data.languages?.length){
    <section>
        <h2>Languages</h2>
        <div class="card">
            <ul>
                @for (lang of data.languages; track lang) {
                <li>{{ lang.name }} </li>
                }
            </ul>
        </div>

    </section>
    }

    <!-- INTERESTS -->
    @if(data.interests?.length){
    <section>
        <h2>Interests</h2>
        <div class="card">
            <p>{{ data.interests.join(', ') }}</p>
        </div>
    </section>
    }

    <!-- REFERENCES -->
    @if(data.references?.length){
    <section>
        <h2>References</h2>
        <div class="card">
            @for (ref of data.references; track $index) {
            <div class="ref-item">
                <strong>{{ ref.name }}</strong> – {{ ref.role }}
                <br>
                {{ ref.contact }}
            </div>
            }
        </div>


    </section>
    }

</div>