<div class="template-screen">

    <!-- Grid Layout -->
    <div class="resume-grid">

        <!-- LEFT SIDEBAR -->
        <div class="left-panel">
            @if(data.profilePicture){
            <img [src]="data.profilePicture" class="profile-pic">
            }

            <h2>{{ data.name }}</h2>
            <p>{{ data.title }}</p>

            <div class="section">
                @if(data.email || data.phone || data.address){
                <div class="contact">
                    <h5 class="text-decoration-underline">Contact</h5>
                    @if(data.email){
                    <span class="small word-wrap">{{data.email}}</span><br>
                    }
                    @if(data.phone){
                    <span class="small word-wrap">{{data.phone}}</span><br>
                    }
                    @if(data.address){
                    <span class="small word-wrap">{{data.address}}</span><br>
                    }
                </div>
                }
                @if(data.linkedin || data.github || data.website){
                <div class="urls">
                    <h5 class="text-decoration-underline">Urls</h5>
                    @if(data.linkedin){
                    <p>LinkedIn: <a class="small word-wrap">{{data.linkedin}}</a></p>
                    }
                    @if(data.github){
                    <p>GitHub: <a class="small word-wrap">{{data.github}}</a></p>
                    }
                    @if(data.website){
                    <p>Website: <a class="small word-wrap">{{data.website}}</a></p>
                    }

                </div>
                }
            </div>
            @if(data?.skills?.length){
            <div class="section">
                <h3>Skills</h3>
                <ul>
                    @for(s of data.skills;track s){
                    <li>{{s.name}} </li>
                    }
                </ul>
            </div>
            }
            @if(data.languages?.length){
            <div class="section">
                <h3>Languages</h3>
                <ul>
                    @for(lang of data.languages; track lang){
                    <li>{{lang.name}} </li>
                    }
                </ul>
            </div>
            }
        </div>

        <!-- RIGHT MAIN CONTENT -->
        <div class="right-panel">

            <div class="section">
                <h3>Summary</h3>
                <p>{{data.summary}}</p>
            </div>

            @if(data.experience?.length){
            <div class="section">
                <h3>Experience</h3>

                @for(exp of data.experience; track exp){
                <div class="exp-box">
                    <div class="exp-header">
                        <strong>{{exp.role}}</strong> – {{exp.company}}
                        <span class="year">{{exp.year}}</span>
                    </div>

                    <div class="exp-table">
                        @if(exp?.responsibilities?.length){
                        <h6>Responsibilities</h6>
                        <ul>
                            @for(r of exp.responsibilities; track r){
                            <li>{{r}}</li>
                            }
                        </ul>
                        }

                        @if(exp?.achievements?.length){
                        <h6>Achievements</h6>
                        <ul>
                            @for(a of exp.achievements; track a){
                            <li>{{a}}</li>
                            }
                        </ul>
                        }
                    </div>
                </div>
                }
            </div>
            }
            @if(data?.education?.length){
            <div class="section">
                <h3>Education</h3>
                <table class="edu-table">
                    <tr>
                        <th>Degree</th>
                        <th>University</th>
                        <th>Year</th>
                        <th>GPA</th>
                    </tr>
                    @for(edu of data.education;track edu){
                    <tr>
                        <td>{{ edu.degree }}</td>
                        <td>{{ edu.university }}</td>
                        <td>{{ edu.year }}</td>
                        <td>{{ edu.gpa }}</td>
                    </tr>
                    }

                </table>
            </div>
            }
            @if(data.certifications?.length){
            <div class="section">
                <h3>Certifications</h3>
                <ul>
                    @for(cert of data.certifications;track cert){
                    <li>
                        {{cert.name}} – {{cert.year}} ({{cert.issuer}})
                    </li>
                    }

                </ul>
            </div>
            }
            @if(data.interests?.length){
            <div class="section">
                <h3>Interests</h3>
                <p>{{ data.interests.join(', ') }}</p>
            </div>
            }
            @if(data.references?.length){
            <div class="section">
                <h3>References</h3>
                <ul>
                    @for(ref of data.references;track ref){
                    <li>
                        <b>{{ref.name}}</b> – {{ref.role}}
                        <br>
                        {{ref.contact}}
                    </li>
                    }

                </ul>
            </div>
            }
        </div>
    </div>
</div>